In [13]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [14]:
#creating empty lists to collect all reviews
reviews  = []

#creating empty lists to collect rating stars
stars = []

#creating empty lists to get the country reviewer is from
country = []

#creating empty lists to collect review date
date = []

In [16]:
for i in range(1, 40):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 33
Error on page 35
Error on page 35

In [17]:
#checking length of total parsed reviews 
len(reviews)

7270

In [18]:
#checking length of total parsed country 

len(country)

7270

In [19]:
stars = stars[:7270]

In [20]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | I flew London to Malaga on ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,30th August 2023,United Kingdom
1,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany
2,"✅ Trip Verified | Filthy plane, cabin staff o...",1,28th August 2023,United Kingdom
3,✅ Trip Verified | Chaos at Terminal 5 with B...,1,27th August 2023,United Kingdom
4,Not Verified | BA cancelled our flight and co...,3,27th August 2023,United Kingdom

In [21]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/reviews_BA.csv")