In [28]:
#imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
#regex
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\iRube\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
 #creating a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/reviews_BA.csv", index_col=0)

In [30]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | I flew London to Malaga on ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,30th August 2023,United Kingdom
1,✅ Trip Verified | I arrived at the airport ab...,1,30th August 2023,Germany
2,"✅ Trip Verified | Filthy plane, cabin staff o...",1,28th August 2023,United Kingdom
3,✅ Trip Verified | Chaos at Terminal 5 with B...,1,27th August 2023,United Kingdom
4,Not Verified | BA cancelled our flight and co...,3,27th August 2023,United Kingdom

In [31]:
#making a new column to check if the user is verified or not

In [32]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [33]:
df['verified']

0        True
1        True
2        True
3        True
4       False
        ...
7265    False
7266    False
7267    False
7268    False
7269    False
Name: verified, Length: 7270, dtype: bool

In [40]:
import nltk
nltk.download()
nltk.download('wordnet')

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\iRube\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [41]:
#extracting the column of reviews into a separate dataframe and clean it for semantic analysis
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus for text analysis
corpus =[]

#loop through each review, remove punctuations, lower case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [47]:
df['corpus'] = corpus

In [48]:
df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | I flew London to Malaga on ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,2023-08-30,United Kingdom,True,flew london malaga august club europe stood ar...
1,✅ Trip Verified | I arrived at the airport ab...,1,2023-08-30,Germany,True,arrived airport hour takeoff time get checked ...
2,"✅ Trip Verified | Filthy plane, cabin staff o...",1,2023-08-28,United Kingdom,True,filthy plane cabin staff ok appalling customer...
3,✅ Trip Verified | Chaos at Terminal 5 with B...,1,2023-08-27,United Kingdom,True,chaos terminal ba cancellation delay staff giv...
4,Not Verified | BA cancelled our flight and co...,3,2023-08-27,United Kingdom,False,verified ba cancelled flight could book u onto...

In [49]:
df.dtypes

reviews             object
stars               object
date        datetime64[ns]
country             object
verified              bool
corpus              object
dtype: object

In [50]:
df.date.head()
df.date = pd.to_datetime(df.date)

In [51]:
df.date.head()

0   2023-08-30
1   2023-08-30
2   2023-08-28
3   2023-08-27
4   2023-08-27
Name: date, dtype: datetime64[ns]

In [52]:
#check for unique values
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '1', '3', '8', '4', '7', '2',
       '10', '9', '6', '5', 'None'], dtype=object)

In [53]:
# remove the \t and \n from the ratings
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [54]:
df.stars.unique()

array(['5', '1', '3', '8', '4', '7', '2', '10', '9', '6', 'None'],
      dtype=object)

In [55]:
df.stars.value_counts()

1       1654
2        828
3        796
8        715
10       642
7        614
9        609
5        539
4        493
6        370
None      10
Name: stars, dtype: int64

In [56]:
# drop the rows where the value of ratings is None
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [57]:
df.stars.value_counts()

1     1654
2      828
3      796
8      715
10     642
7      614
9      609
5      539
4      493
6      370
Name: stars, dtype: int64

In [58]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     7256
                       True     False     False        4
dtype: int64

In [59]:
df.country.isnull().value_counts()

False    7256
True        4
Name: country, dtype: int64

In [60]:
#drop the rows using index where the country value is null
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [61]:
df.country.isnull().value_counts()

False    7256
Name: country, dtype: int64

In [62]:
df.shape

(7256, 6)

In [63]:
#resetting the index
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | I flew London to Malaga on ...,5,2023-08-30,United Kingdom,True,flew london malaga august club europe stood ar...
1,✅ Trip Verified | I arrived at the airport ab...,1,2023-08-30,Germany,True,arrived airport hour takeoff time get checked ...
2,"✅ Trip Verified | Filthy plane, cabin staff o...",1,2023-08-28,United Kingdom,True,filthy plane cabin staff ok appalling customer...
3,✅ Trip Verified | Chaos at Terminal 5 with B...,1,2023-08-27,United Kingdom,True,chaos terminal ba cancellation delay staff giv...
4,Not Verified | BA cancelled our flight and co...,3,2023-08-27,United Kingdom,False,verified ba cancelled flight could book u onto...
...,...,...,...,...,...,...
7251,Flight from Heathrow to Toronto. Booked emerge...,10,2012-08-29,United Kingdom,False,flight heathrow toronto booked emergency exit ...
7252,LHR to HAM. Purser addresses all club passenge...,10,2012-08-28,United Kingdom,False,lhr ham purser address club passenger name boa...
7253,My son who had worked for British Airways urge...,10,2011-10-12,United Kingdom,False,son worked british airway urged fly british ai...
7254,London City-New York JFK via Shannon on A318 b...,1,2011-10-11,United States,False,london city new york jfk via shannon really ni...
7255,SIN-LHR BA12 B747-436 First Class. Old aircraf...,4,2011-10-09,United Kingdom,False,sin lhr ba b first class old aircraft seat pri...

In [64]:
# export the cleaned data

df.to_csv(cwd + "/cleanedReviews.csv")